.box-login {
    max-width: 400px;
    height: 254px;
    border-radius: 20px;
    background: #ffffff;
    position: relative;
    padding: 1.8rem;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;
}

.box-details {
    color: black;
    height: 100%;
    gap: 0.5em;
    display: grid;
    place-content: center;
}

.box-button {
    transform: translate(-50%, 125%);
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: #d03316;
    color: #fff;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
}

.text-body {
    color: rgb(134, 134, 134);
}

/*Text*/
.text-title {
    font-size: 1.5em;
    font-weight: bold;
}

/*Hover*/
.box-login:hover {
    border-color: #d03316;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.box-login:hover .box-button {
    transform: translate(-50%, 50%);
    opacity: 1;
}



/* own style */

.login-wrapper{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login{
    width: 500px;
}

.box-login{
    border: 1px solid rgb(223, 223, 223);
}

.box-header{
    margin: 0;
    padding: 0;
}
.box-body{
    margin-top: 25px;
}
